---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    meta.helm.sh/release-name: easytrade
    kubernetes.io/ingress.class: "{{ingress_class}}"
  labels:
    app: easytrade
  name: easytrade-ingress
spec:
  rules:
  - host: "{{ easytrade_domain }}"
    http:
      paths:
      - backend:
          service:
            name: frontendreverseproxy-easytrade
            port: 
              number: 80
        path: /
        pathType: ImplementationSpecific