apiVersion: v1
kind: Secret
metadata:
  name: edgeconnect-oauth
  namespace: dynatrace
data:
  oauth-client-id: {{ extra_vars.dt_oauth_client_id | b64encode }}
  oauth-client-secret: {{ extra_vars.dt_oauth_client_secret | b64encode }}